
<% for service in @results.keys %>
	<h2><%= service %></h2>
		<% for match in @results[service]['results'] %>
				<div class="thumbnail">
					<%= image_tag match['artwork_url'] %>
					<h5 class="title"><%= match['name'] %> (<%= match['release_date'].to_date.year %>)</h5>
					<p>
						<span class="purchase_option"><%= match['purchase_option'] %></span><span class="price"><%= number_to_currency(match['price']) %></span>
					</p>
				</div>
		<% end %>
<% end %>